@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html {
  background: #666;
  padding-top: 30px;
}

body {
  width: 675px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
text-transform: uppercase;
letter-spacing: 1px;
background: #333;
color: #fff;
border: 0;
padding: 1em 2em;
  cursor: pointer;
}

button:hover {
  background: #A52A2A;
}

#ypt_wrapper {
  width: 100%;
  background: #000;
  color: #fff;
  overflow: hidden;
  max-width: 100%;
   box-shadow: 0px 8px 13px rgba(0,0,0,0.5);
  margin-bottom: 1em;
}
#ypt_thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  background: #000;
  margin: 0;
  padding: 0;
  height: 0;
}
#ypt_thumbs li {
  list-style: none;
  margin: 0;
  position: relative;
  font-size: 0;
}
#ypt_thumbs li img{
  width: 100%;
}
#ypt_thumbs li p {
  font-family: arial;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 5%;
  margin: 0;
}
#ypt_thumbs li:hover p {
  display: block;
  cursor: pointer;
}
#ypt_thumbs .ypt-now-playing p {
  display: block;
}
#ypt_thumbs .ypt-now-playing > span::after {
  content: "\25b6";
  margin-top: -1em;
  display: block;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.01);
  color: red;
  position: absolute;
  bottom: 0;
  font-size: 16px;
}
#ypt_wrapper .video {
  position: relative;
  width: 80%;
  /*height: 0;*/
  padding-bottom: 48.4%;
  float: left;
}
#ypt_wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float:left;
}
#share-buttons img {
width: 50px;
padding: 10px;
border: 0;
box-shadow: 0;
display: inline;
text-align: center:
}

.subbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px red;
}

.subbutton:hover {background-color: #F7DC6F}

.subbutton:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tcb {
	color: #EAECEE;
	text-decoration: none;
	pointer-events: none;
   	cursor: default;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}